@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
  font-family: 'Jeju';
  src : url('./assets/fonts/JejuGothic.ttf');
}

@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-Gangwon {
  font-family: 'GangwonEduPowerExtraBoldA', sans-serif;
}

.font-Gmarket {
  font-family: 'GmarketSansMedium', sans-serif;
}

/*추가 css*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

#root {
  @apply w-full max-w-screen-xl mx-auto;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
